.headerMain {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sadhaks {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    cursor: pointer;
}
.count{
    background-color: var(--primaryColor);
    padding: 0px 5px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
}
