.app {
    height: 100vh;
    width: 100vw;
}
.navbar {
    height: 8vh;
    width: 100%;
}
.quote {
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.mainBody {
    width: 100%;
    padding: 0px 100px 20px;
}
