.pieChart {
    width: 400px;
    height: 400px;
}
.analysisSection {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.warningSection{
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    padding: 30px 50px;
    border-radius: 10px;
}
.warnIcon{
    height: 50px;
    width: 50px;
}
