.card {
    width: 240px;
    box-shadow: 0 0 2px var(--primaryColor);
    border-radius: 15px;
}
.cardImage {
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.cardContent {
    padding: 10px 30px 20px;
}
.title {
    font-size: 18px;
    font-weight: 600;
}

.textMedium {
    font-size: 18px;
    font-weight: 400;
}
.PrimaryBtn {
    cursor: pointer;
    padding: 6px 22px;
    margin-top: 10px;
    background-color: var(--primaryColor);
    color: white;
    border-radius: 5px;
    border: none;
}
