.app {
    height: 100vh;
    width: 100vw;
}
.navbar {
    height: 10vh;
    width: 100%;
}

.mainBody {
    width: 100%;
    padding: 20px 100px 20px;
}

.cardsViewSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 15px;
}
