* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* --primaryColor: #ffa801; */
    --primaryColor: rgb(23, 54, 90);
}
/* img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
} */
div {
    font-size: 16px;
    font-weight: 400;
}

.textField{
    height: 100%;
    color: red;
}
.PrimaryBtn {
    cursor: pointer;
    padding: 0px 100px;
    margin-top: 10px;
    background-color: var(--primaryColor);
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
}

