* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* --primaryColor: #ffa801; */
    --primaryColor: rgb(23, 54, 90);
}
/* img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
} */
div {
    font-size: 16px;
    font-weight: 400;
}
