* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* --primaryColor: #1F8A70; */
    /* --primaryColor: #F6BD60; */
    /* --primaryColor: #1a1a1a; */
    /* --primaryColor: #2834a0; */
    /* --primaryColor: #032a38; */
    --primaryColor: #0F6292;
    /* --primaryColor: rgb(23, 54, 90); */
}
/* img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
} */
div {
    font-size: 16px;
    font-weight: 400;
}

.textField{
    height: 100%;
    color: red;
}
.aliginVertical {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.table_header {
  background-color: #d41217;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  /* svg {
    color: #fff;
  } */
}